<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#"
      th:action="${action}"
      th:fragment="form(product, action, method)"
      th:method="${method}"
      th:object="${product}">
    <div class="mb-3">
        <label for="name">Name</label>
        <input class="form-control w-25"
               id="name"
               placeholder="rice, chicken, tomatoes"
               th:field="*{name}"
               th:errorclass="is-invalid"
               type="text"
        >
        <div class="invalid-feedback" th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
        <label for="unit">Unit</label>
        <input class="form-control w-25"
               id="unit"
               placeholder="kg, ml, g"
               th:field="*{unit}"
               th:errorclass="is-invalid"
               type="text"
        >
        <div class="invalid-feedback" th:errors="*{unit}"></div>
    </div>
    <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>
</body>
</html>
