<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#"
      th:action="${action}"
      th:fragment="form(product, action, method)"
      th:method="${method}"
      th:object="${product}">
    <div class="mb-3">
        <label for="name">Name</label>
        <input class="form-control w-25"
               id="name"
               placeholder="rice, chicken, tomatoes"
               th:classappend="${#fields.hasErrors('name')}? 'is-invalid'"
               th:field="*{name}"
               type="text"
        >
        <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
    </div>
    <div class="mb-3">
        <label for="unit">Unit</label>
        <input class="form-control w-25"
               id="unit"
               placeholder="kg, ml, g"
               th:classappend="${#fields.hasErrors('unit')}? 'is-invalid'"
               th:field="*{unit}"
               type="text"
        >
        <div class="invalid-feedback" th:errors="*{unit}" th:if="${#fields.hasErrors('unit')}"></div>
    </div>
    <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>
</body>
</html>
