<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#"
      th:fragment="form(product, action, method)"
      th:object="${product}"
      th:action="${action}"
      th:method="${method}">
    <input th:if="${method} == 'put'" type="hidden" th:field="*{id}">
    <input type="text" th:field="*{name}" class="form-control mb-4 w-25" placeholder="Name">
    <input type="text" th:field="*{unit}" class="form-control mb-4 w-25" placeholder="Unit">
    <button type="submit" class="btn btn-primary col-2">Save</button>
    <hr>
    <a th:href="@{/products}">Back to Products</a>
</form>
</body>
</html>



