<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<section>
    <h1>Products</h1>
    <a th:href="@{/products/new}">New Product</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{id}">Id</td>
            <td th:text="*{name}">Name</td>
            <td th:text="*{unit}">Price</td>
            <td>
                <a th:href="@{/products/{id}/edit(id=*{id})}">Edit</a>
                <form th:action="@{/products/{id}(id=*{id})}" th:method="delete">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</section>
</body>
</html>