<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<section class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Products</h4>
        <a class="btn btn-sm btn-outline-success" th:href="@{/products/new}">New product</a>
    </div>
    <table class="table">
        <colgroup>
            <col class="col-2">
            <col class="col-4">
            <col class="col-4">
            <col class="col-2">
        </colgroup>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Action</th>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{id}">Id</td>
            <td th:text="*{name}">Name</td>
            <td th:text="*{unit.displayName}">Unit</td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/products/{id}/edit(id=*{id})}">Edit</a>
                <form class="d-inline" th:action="@{/products/{id}(id=*{id})}" th:method="delete">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</section>
</body>
</html>