<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Save product</title>
</head>

<body>
<div class="container">
    <p class="h4 mb-4">Save product</p>
    <form action="#" th:action="@{/products}" th:object="${product}" th:method="post">
        <input type="text" th:field="*{name}" class="form-control mb-4 w-25" placeholder="Name">
        <input type="text" th:field="*{unit}" class="form-control mb-4 w-25" placeholder="Unit">
        <button type="submit" class="btn btn-primary col-2">Save</button>
        <hr>
        <a th:href="@{/products}">Back to Products</a>
    </form>
</div>
</body>
</html>



