<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#"
      th:action="${action}"
      th:fragment="form(recipe, action, method)"
      th:method="${method}"
      th:object="${recipe}">
    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="text-danger"/>
    <div class="mb-3">
        <label for="name">Name</label>
        <input class="form-control w-25"
               id="name"
               placeholder="Risotto"
               th:field="*{name}"
               th:errorclass="is-invalid"
               type="text"
        >
        <div class="invalid-feedback" th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <textarea class="form-control w-50"
                  id="description"
                  rows="5"
                  name="description"
                  placeholder="Risotto with mushrooms"
                  th:field="*{description}">
        </textarea>
        <div class="invalid-feedback" th:errors="*{description}"></div>
    </div>

    <div class="form-group mb-4 w-50">
        <div id="recipe-product-container">
            <div class="mb-3 row" th:each="recipeProductStat, stat : *{recipeProducts}">
                <input class="recipe-product-id" th:field="*{recipeProducts[__${stat.index}__].id}" type="hidden">
                <div class="col-md-8">
                    <select class="recipe-product-product form-select form-control"
                            th:errorclass="is-invalid"
                            th:field="*{recipeProducts[__${stat.index}__].product}">
                        <option selected value=""></option>
                        <option th:each="product : ${products}"
                                th:text="${product.name + ' (' + product.unit + ')'}"
                                th:value="${product.id}"></option>
                    </select>
                    <div class="invalid-feedback" th:errors="*{recipeProducts[__${stat.index}__].product}"
                         th:if="${#fields.hasErrors('recipeProducts[__${stat.index}__].product')}">
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="recipe-product-quantity form-control"
                           placeholder="Amount"
                           step="any"
                           th:errorclass="is-invalid"
                           th:field="*{recipeProducts[__${stat.index}__].quantity}"
                           type="number">
                    <div class="invalid-feedback" th:errors="*{recipeProducts[__${stat.index}__].quantity}"
                         th:if="${#fields.hasErrors('recipeProducts[__${stat.index}__].quantity')}">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 row" id="recipe-product-template" style="display: none">
            <div class="col-md-8">
                <select class="recipe-product-product form-select form-control">
                    <option selected value=""></option>
                    <option th:each="product : ${products}"
                            th:text="${product.name + ' (' + product.unit + ')'}"
                            th:value="${product.id}"></option>
                </select>
            </div>
            <div class="col-md-4">
                <input class="recipe-product-quantity form-control" placeholder="Amount" step="any" type="number">
            </div>
        </div>
        <button class="btn btn-sm btn-success" id="add-recipe-product" type="button">Add product</button>
    </div>

    <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>
</body>
</html>
